@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Jost";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background: #9e7b9b;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .header {
    height: auto;
  }
}
.header__nav {
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid white;
  color: white;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav a {
  font-family: "Abril+Fatface";
  font-size: 6rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li a {
  margin-left: 40px;
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header__nav ul li a:hover {
  text-decoration: underline;
}
.header__main {
  height: 85vh;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__main {
    flex-direction: column-reverse;
    height: auto;
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header__main--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
}
.header__main--title h1 {
  font-size: 4rem;
  font-weight: 400;
}
.header__main--title h2 {
  color: #fff;
  font-size: 4rem;
}
@media screen and (max-width: 767px) {
  .header__main--title h2 {
    font-size: 3rem;
  }
}
.header__main--title button {
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 10px;
  background: transparent;
  padding: 0px 7px 0px 7px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.header__main--title button i {
  padding: 0px 7px 0px 7px;
}
.header__main--title button:hover {
  border: 2px solid white;
  color: white;
}
.header__main--title button a:hover {
  color: white;
}
.header__main img {
  margin-left: 10%;
  margin-right: 10%;
  width: 24.3125rem;
  height: auto;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .header__main img {
    width: 80vw;
  }
}

.main {
  background: #616283;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #9e7b9b;
  width: 80vw;
  padding: 10px;
  margin: 70px 0px 70px 0px;
  border-radius: 20px;
  color: white;
}
.main__section h2 {
  font-size: 2.25rem;
  position: relative;
}
.main__section h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7.87525rem;
  height: 3px;
  background-color: white;
}
.main__section p {
  padding-top: 20px;
  font-size: 1.5rem;
}
.main__section ul {
  padding-top: 20px;
  font-size: 1.5rem;
}
.main__section--uldisplay {
  display: flex;
}
.main__section--uldisplay li {
  margin-right: 20px;
  font-size: 2.5rem;
}
.main__section--card {
  display: flex;
  justify-content: space-between;
  height: 21.8125rem;
  margin: 40px;
}
@media screen and (max-width: 767px) {
  .main__section--card {
    flex-direction: column;
    margin: 10px;
    height: auto;
  }
}
.main__section--card a {
  width: 19.5rem;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.main__section--card a:hover {
  transition: all 0.3s;
  transform: scale(1.01);
}
@media screen and (max-width: 767px) {
  .main__section--card a {
    width: auto;
    height: 50vh;
    margin-bottom: 20px;
  }
}
.main__section--card a p {
  width: 100%;
  background: #616283;
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  bottom: 0;
  color: white;
}
@media screen and (max-width: 767px) {
  .main__section--card a p {
    width: 100%;
  }
}
.main__section--card a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #9e7b9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
  color: white;
  font-size: 1.75rem;
}
.footer div i {
  margin: 20px;
  font-size: 2.5rem;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 10px;
  }
}/*# sourceMappingURL=index.css.map */